.App-header {
    background-color: rgba(16, 31, 37, 1);
    background-image: url("assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: white;
    align-items: center;
}

.wrapper {
    padding: 25px;
    max-width: 760px;
}

.comment-wrap {
}

.holder {
    display: flex;
}

.loaded {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.pic {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.col1 {
    min-height: 50px;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2 {
    min-height: 50px;
    flex: 1;
    /* flex-grow: 1; This also works! */
}

.darken {
    opacity: 0.5;
    margin: 0;
}

.load {
    background: grey;
    opacity: 0.5;
    color: white;
    border-radius: 5px;
    margin: 25px;
}
